CSS

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 } 

body {
   /* more on crazy alphanumerical value in a minute! */
   color: #39a6b2;
   font-family: Helvetica, Arial, sans-serif;
}

/* apply style to <header> */
header {
  padding: 20px 35px;
  background-color: #39a6b2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

header h1 {
  font-weight: bold;
  display: inline;
  font-size: 36px;
  color: #fce138;
  margin: 0;
}

header a {
  text-decoration: none;
  color: #fce138;
}

header nav {
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

/* Footer Style starts  */
footer {
  display: flex;
  justify-content: space-between;
  background: #fce138;
  width: 100%;
  padding: 40px 35px;
  flex-wrap: wrap;
}

footer a {
  color: #024e76;
}

footer h2 {
  color: #024e76;
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}
/* Footer Style ends  */

/* STYLE ALL SECTION TAGS */
section {
  padding: 60px;
}

/* Hero Style Start */
.hero {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
}
.hero-form {
  border-style: solid;
  border-width: 3px;
  border-color: #024e76;
  background-color: #fce138;
  padding: 20px;
  color: #024e76;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.hero-form p {
  margin: 5px 0 15px 0;
}

.hero-form h3 {
  font-size: 24px;
  margin: 0;
}

.hero-form label {
  margin: 0 5px;
}

.form-input {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
  width: 40%;
  margin: 3.5%;
}

.hero-form button {
  color: #fce138;
  background-color: #024e76;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}
/* HERO STYLE END */

.hero-cta {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.3;
}

.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: #fce138;
}

/* Section title starts*/
.section-title {
  font-size: 55px;
  color: #024e76;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
  


  border-bottom: 3px solid;
}

.primary-border {
  border-color: #fce138;
}

.secondary-border {
  border-color: #30a6b2;
}
/* Section title ends*/

.intro p {
  text-align: center;
  margin: 0 auto;
  line-height: 1.7;
  color: #39a6b2;
  width: 80%;
  font-size: 20px;
}

/* What to do section starts */
.step {
  Margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  border-bottom: 1px solid #39a6b2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


.step h3 {
  flex: 1 30%;
  color: #024e76;
  font-size: 46px;

}

.step-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.step-img {
  flex: 1 12%;
  margin-right: 20px;
}

.step-text {
  flex: 12;
}

.step-img img {
  max-width: 100%;
}

.step-text p {
  color: #39a6b2;
  font-size: 18px;
}

.step-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: #024E76;
}


/* What to do section ends */

/* Trainers section starts */
.trainers {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.trainer {
  flex: 1;
  margin: 30px;
  background: #024e76;
  color: #fce138;
  
}

.trainer img {
  width: 100%;

}

.trainer-bio {
  line-height: 1.3;
  padding: 25px;
}

.trainer-bio h3 {
  font-size: 28px;
  
}

.trainer-bio h4 {
  font-weight: lighter;
  margin-bottom: 15px;
}

.trainer-bio p {
  font-size: 17px;
  
}
/* Trainer section ends */

/* Hero Style End */

/* reach out style starts */
.contact {
  background: #024e76;
}

.contact h2 {
  color: #fce138;
}

.contact-info iframe {

  height: 400px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info > * {
  flex: 1;
  margin: 15px;
}

.contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;
}

.contact-info h3 {
  color: #fce138;
  font-size: 32px;
}

.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}


.contact-form input, .contact-form textarea {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
}
/* Contact Form Button */
.contact-form button {
  width: 100%;
  border: none;
  background: #fce138;
  color: #024e76;
  padding: 15px 0;
  font-size: 16px;
}
.contact-info a {
  color: #fce138;
}


/* REACH OUT STYLES END */

/* UTILITIES */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
}