* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 } 

body {
   /* more on crazy alphanumerical value in a minute! */
   color: #39a6b2;
   font-family: Helvetica, Arial, sans-serif;
}

/* apply style to <header> */
header {
  background-attachment: fixed;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: 80%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px 35px;
  background-color: #39a6b2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 9999;
}

header h1 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
}

header a {
  text-decoration: none;
  color: #fce138;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 22px;
}
header nav ul li a:hover {
  background: #fce138;
  color: #024e76;
  border-radius: 15px;
  text-shadow: none;
}

.checkbox-wrapper input, .radio-wrapper input {
  opacity: 0;
}

.checkbox-wrapper label, .radio-wrapper label {
  position: relative;
  left: 10px;
  margin: 10px;
  line-height: 1.6;
}

.checkbox-wrapper label::before, .radio-wrapper label::before {
  content: "";
  height: 20px;
  width: 20px;
  background: rgba(255, 255, 255, 0.75);  
  border: 1px solid #024e76;  
  position: absolute;
  top: -4px;
  left: -30px;
}
.radio-wrapper label::before {
  border-radius: 50%;
}

.radio-wrapper label::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #024e76;
  position: absolute;
  left: -29px;
  top: -3px;
}

.checkbox-wrapper label::after {
  background-image: radial-gradient(circle, #39a6b2, #024e76);
  transform: rotate(-58deg);
  content: "";
  height: 6px;
  width: 14px;
  border-left: 2px solid #024e76;
  border-bottom: 2px solid #024e76;
  position: absolute;
  left: -26px;
  top: 1px;
}

.checkbox-wrapper input + label::after, 
.radio-wrapper input + label::after {
  content: none;
}

.checkbox-wrapper input:checked + label::after, 
.radio-wrapper input:checked + label::after {
  content: "";
}
/* Header Style Ends  */

/* Footer Style starts  */
footer {
  display: flex;
  justify-content: space-between;
  background: #fce138;
  width: 100%;
  padding: 40px 35px;
  flex-wrap: wrap;
}

footer a {
  color: #024e76;
}

footer h2 {
  color: #024e76;
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}
/* Footer Style ends  */

/* style all sections */
section {
  padding: 60px;
}

/* Hero Style Start */
.hero {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start; 
  background-attachment: fixed;
}

.hero-cta {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
}

.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: #fce138;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Hero Form Start */
.hero-form {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border: 3px solid #024e76;
  background-color: #fce138;
  padding: 20px;
  color: #024e76;
  width: 40%;
  margin: 3.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-input {
  background-color: rgba(255,255,255, 0.75);
  border-radius: 10px;
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
}

/* Input form focus */
.form-input:focus {
  background-color: rgba(255,255,255, 1);
  outline: none;
}

.hero-form p {
  margin: 5px 0 15px 0;
}

.hero-form h3 {
  font-size: 24px;
  margin: 0;
}

.hero-form label {
  margin: 0 5px;
}

.hero-form button {
  border-radius: 10px;
  color: #fce138;
  background-color: #024e76;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}
.hero-form button:hover {
  background-color: #39a6b2;  
}
/* Hero Section Ends */



/* Section title starts*/
.section-title {
  font-size: 48px;
  color: #024e76;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
  border-bottom: 3px solid;
}

.primary-border {
  border-color: #fce138;
}

.secondary-border {
  border-color: #30a6b2;
}
/* Section title ends*/

.intro p {
  text-align: center;
  margin: 0 auto;
  line-height: 1.7;
  color: #39a6b2;
  width: 80%;
  font-size: 20px;
}

/* What to do section starts */
.steps { 
  background: #fce138;
}

.step {
  Margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.step:nth-child(enen) {
  border-bottom: 1px solid #39a6b2;
}
.step:last-child {
  border-bottom: none;
}

.step h3 {
  flex: 1 30%;
  color: #024e76;
  font-size: 46px;

}

.step-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.step-img {
  flex: 1 12%;
  margin-right: 20px;
}

.step-text {
  flex: 12;
}

.step-img img {
  max-width: 100%;
}

.step-text p {
  color: #39a6b2;
  font-size: 18px;
}

.step-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: #024E76;
}


/* What to do section ends */

/* Trainers section starts */
.trainers {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.trainer {
  flex: 1;
  margin: 30px;
  background: #024e76;
  color: #fce138;
  
}

.trainer img {
  width: 100%;

}

.trainer-bio {
  line-height: 1.3;
  padding: 25px;
}

.trainer-bio h3 {
  font-size: 28px;
  
}

.trainer-bio h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
}

.trainer-bio p {
  font-size: 17px;
  
}
/* Trainer section ends */

/* Hero Style End */

/* reach out style starts */
.contact {
  background: #024e76;
}

.contact h2 {
  color: #fce138;
}

.contact-info iframe {

  height: 400px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info > * {
  flex: 1;
  margin: 15px;
}

.contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;
}

.contact-info h3 {
  color: #fce138;
  font-size: 32px;
}

.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}


.contact-form input, .contact-form textarea {
  background-color: rgba(255,255,255, 0.75);
  border-radius: 10px;
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
}

.contact-form input:focus, .contact-form textarea:focus {
  background-color: rgba(255,255,255, 1);
  outline: none;
}

/* Contact Form Button */
.contact-form button {
  border-radius: 10px;
  width: 100%;
  border: none;
  background: #fce138;
  color: #024e76;
  padding: 15px 0;
  font-size: 16px;
}
.contact-form button:hover {
  color: #fce138;
  background: #39a6b2;
}

.contact-info a {
  color: #fce138;
}


/* REACH OUT STYLES END */

/* UTILITIES */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
}

/* Media Queries */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
/* this will be applied on any screen smaller than 980px */
@media screen and (max-width: 980px) {
  header {
    position: relative;
    padding-bottom: 0;
    justify-content: center;
    color: tomato;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }
}

.hero-cta, .hero-form {
  width: 100%;
}

.hero-cta {
  text-align: center;
}

.section-title {
  width: 80%;
}

.trainer {
  flex: 0 70%;
}

.contact-info iframe{
  flex: 1 100%;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
/* this will be applied on any screen between 768px and 575px */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
    color: #39a6b2;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  }

}



/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
/* this will be applied on any screen smaller than 575px */
@media screen and (max-width: 575px) {
  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

  .contact-form {
    order: 3;
  }
}
  

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
/* this will be applied on any screen smaller than 575px */
@media screen and (max-width: 575px) {
  header nav h1 {
    
    font-size: 100px;
  }
}

:root {
  --primary-color: #fce138;
  --secondary-color: #024e76;
  --tertiary-color: #39a6b2;
}
